div(class="footer_content")
  div(class="footer_content_descr")
    h2 Контакты        
    ul 
      li 
        span Ростов-на-Дону
      li
        span Пушкинская 100
      li
        a(href="tel: +79996963434") 7-999-696-34-34
    ul   
      li 
        span Мы работаем ежедневно
      li
        span Без перерыва и выходных
      li
        span с 10.00 до 20.00
  div(class="footer_content_image")
    a(
      href="https://yandex.ru/maps/39/rostov-na-donu/?from=api-maps&ll=39.716589%2C47.225272&mode=usermaps&origin=jsapi_2_1_79&um=constructor%3A5aab25975b8e7cc80ba8fb9fc4b29fa546ba2e2a929c750cd46196902b2af325&z=17"
      target="_blank"
      rel="noreferrer noopener"
    )
      picture 
        source(srcset="yandex_maps.webp" type="image/webp") 
        img(
          src="yandex_maps.jpg" 
          width="300px" 
          height="auto"
          alt="Yandex Maps"
          loading="lazy"
          )
  div(class="footer_content_copyright")
    ul(class="footer_copyright_list")
      li ©
        span  mymac
      li 2022
    ul(class="footer_bank_list")
      li 
        img(
          src="logo_visa.svg" 
          width="50px"
          height="50px" 
          alt="Visa"
          loading="lazy"
          )
      li 
        img(
          src="logo_mastercard.svg"
          width="50px"
          height="50px" 
          alt="Master Card"
          loading="lazy"
          )
      li 
        img(
          src="logo_mir.svg"
          width="50px"
          height="50px" 
          alt="MIR"
          loading="lazy"
          )
    ul(class="footer_maps_list")
      li 
        a(
          href="https://g.page/r/CcqkYDdjDghpEAg/review"
          target="_blank"
          rel="noreferrer noopener"
        )
          img(
            src="logo_google.svg" 
            width="50px"
            height="50px"
            alt="Google Maps"
            loading="lazy"
          )
      li 
        a(
          href="https://yandex.ru/maps/org/mymac/42319866692/reviews/?add-review=true&ll=39.716675%2C47.225260&z=15"
          target="_blank"
          rel="noreferrer noopener"
        )
          img(
            src="logo_yandex.svg" 
            width="50px"
            height="50px"
            alt="Yandex Maps"
            loading="lazy"
          )
      li 
        a(
          href="https://go.2gis.com/4w0pmu"
          target="_blank"
          rel="noreferrer noopener"
        )
          img(
            src="logo_2gis.svg" 
            width="50px"
            height="50px"
            alt="2Gis"
            loading="lazy"
          )
    ul(class="footer_media_list")
      li 
        a(
          href="https://www.instagram.com/mymac.center"
          target="_blank"
          rel="noreferrer noopener"
        )
          img(
            src="logo_instagram.svg" 
            width="50px"
            height="50px"
            alt="Instagram"
            loading="lazy"
            )
      li 
        a(
          href="tg://resolve?domain=mymac_rostov/"
          target="_blank"
          rel="noreferrer noopener"
        )
          img(
            src="logo_telegram.svg" 
            width="50px"
            height="50px"
            alt="Telegram"
            loading="lazy"
            )
      li 
        a(
          href="https://wa.me/79996963434?text=Здравствуйте,%20У%20меня%20есть%20вопрос. %20"
          target="_blank"
          rel="noreferrer noopener"
        )
          img(
            src="logo_whatsapp.svg" 
            width="50px"
            height="50px"
            alt="Whatsapp"
            loading="lazy"
            )